<!DOCTYPE html>
<html lang="hr">
<head>
<meta charset="UTF-8">
<title><%= image.title %></title>

<link rel="stylesheet" href="/style/style_slike.css">
</head>

<body>

<h1><%= image.title %></h1>

<div style="text-align:center;">
    <img src="<%= image.url %>" style="max-width:80%;">
</div>

<br>

<div style="text-align:center;">
    <a href="/slike">Povratak na galeriju</a>
</div>

</body>
</html>